{# templates/symfony/home_page/resume.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Josue Almaraz</title>
	{# CSS #}
	{% block stylesheets %}
        {{ encore_entry_link_tags('resume') }}
	{% endblock %}
</head>
<body>
	<div class="container w-100 h-100" style="background-color: lightgoldenrodyellow;">
		<div class="row pb-4">
			<div class="col-12">
			</div>
		</div>
		<div class="row pb-4">
			<div class="col-6">
			</div>
			<div class="col-6">
			</div>
		</div>

	</div>

	{# Javascripts #}
	{% block javascripts %}
        {{ encore_entry_script_tags('resume') }}
    {% endblock %}
</body>
</html>