body {
    background-color: #fbfbfd;
    font-family: 'Roboto', sans-serif;
}

.bee-vs{
    background-image: url(./css/beeWar/images/vs.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 100%; */
}